 h1{
    background-color: purple;
    width: 1250px;
    height: 50px ;
}
h3 {
    background-color: purple;
    width: 1280px;
    height: 40px ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h2{
    background-color: purple;
    width: 390px;
    height: 50px ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    font-family: monospace;
background-color: rgb(241, 171, 145);
}

header{
padding: 30px;
text-align: center;
background-color: lightpink;
}
p {
    width: 300px;
    height:100px ;
    padding: 40px;
    border: 1px solid pink;
    box-sizing: initial;
    }

    nav ul {
        position: relative;
    }
    nav ul li{
        display: inline-block;
        background-color: lightpink;
        padding: 20px;
        box-sizing: border-box;
    }
    nav ul li:hover{
        background-color: purple;
    }

    nav ul li a {
        text-decoration:none;
        font-weight: lighter;
    }

    #left-colomn{
float: left;
    }
    
    .placeholder{
        width: 100%;
    }

    #bunny {
float: left;
    }

    #bunny2 {
        display:table;
        width: 50%;
        margin-left: 70%;
        position: absolute;
        top: 190%;
        right: 10%;
    }

    footer p{
        clear: both;
        background-color: purple;
        width: 90%;
        margin-right: 70%;
    }
      #bunny4{
      width: 350px;
        height: 40px;
        overflow-x: auto;
        overflow-y: auto;
        text-align:justify;
      }

button{
    background-color: black;
    color: white;
}
button:hover{
    background-color: violet;
    color: red;
}


     