 h1{
    width: 1250px;
    height: 50px ;
}
h3 {
    width: 1280px;
    height: 40px ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h2{
    width: 390px;
    height: 50px ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    font-family: monospace;
}

header{
padding: 30px;
height: 50px;
text-align: center;
background-color: #423f3e;

}
p {
    width: 300px;
    height:100px ;
    padding: 40px;
    box-sizing: initial;
    }

    nav ul {
        position: relative; 
        bottom: 60px;
        text-align: left;
    
    }
    nav ul li{
        display: inline-block;
        background-color: #423f3e;
        padding: 20px;
        box-sizing: border-box;

    }
    nav ul li:hover{
        background-color: black;
    }

    nav ul li a {
        text-decoration:none;
        font-weight: lighter;
        color: grey;
        }

    #left-colomn{
float: left;
    }
    .placeholder{
        width: 100%;
    }
    #bunny {
float: left;
    }
      #bunny4{
      width: 400px;
        height: 150px;
        overflow-x: auto;
        overflow-y: auto;
        text-align:justify;
      }

button{
    background-color: black;
    color: white;
    width:100px
}


header nav ul li img{
    padding-top:18px;
    vertical-align: middle;
}

nav{
    height: 50px;

}
 
#left-colomn{
    width: 100%;
margin-top:20px;
margin-bottom:20px;
text-align: center;
}

#lili img{
    text-align: center;
     margin-left: 90px;
}
#bunny{
    margin-top:20px;
    margin-left: 90px;
    margin-bottom:20px;
    text-align: center;

}
#bunny2 {
        display:table;
        width: 50%;
        margin-left: 70%;
        position: relative;
        right :300px;
    }


    footer{
        clear: both;
        /* width: 90%;
        margin-right: 70%; */
        padding: 30px;
height: 50px;
text-align: center;
        background-color: #423f3e;
    }




